spring:
  profiles:
    active: local
  main:
    banner-mode: off
  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379
      password: ${REDIS_PASSWORD}
      timeout: 2000
      lettuce:
        pool:
          max-active: 16
          min-idle: 8
          enabled: true
          time-between-eviction-runs: 10000
  cache:
    redis:
      time-to-live: ${CACHE_TIME_TO_LIVE_MILLIS}
    cache-names: reportees

springdoc:
  swagger-ui:
    enabled: true
  packagesToScan: no.nav.arbeidsgiver.altinnrettigheter.proxy

server:
  port: 8080
  max-http-request-header-size: 10KB
  servlet:
    context-path: /altinn-rettigheter-proxy

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator

no.nav.security.jwt:
  issuer:
    loginservice:
      discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
      accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}
    tokenx:
      discoveryurl: ${TOKEN_X_WELL_KNOWN_URL}
      accepted_audience: ${TOKEN_X_CLIENT_ID}

