server:
  port: 8080

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator

spring:
  profiles:
    active: local

---

spring:
  profiles: test

altinn:
  url: "http://local.test"
  apikey: "test"
  apigw.apikey: "test"

---

spring:
  profiles: local

  redis:
    host: localhost
    port: 6379
    password: foobared # default passord lokalt i /usr/local/etc/redis.conf
    timeout: 500
  cache:
    redis:
      time-to-live: 30000 # 30 sek i millis

server:
  port: 9090

mock:
  enabled: true
  port: 9091
  aktorPort: 9092

altinn:
  url: "http://localhost:${mock.port}/altinn/"
  apikey: "test"
  apigw.apikey: "test"

no.nav.security.oidc:
  issuers: iss-localhost, selvbetjening
  issuer:
    iss-localhost:
      discoveryurl: http://metadata
      accepted_audience: aud-localhost
    selvbetjening:
      discoveryurl: http://metadata
      accepted_audience: aud-localhost
---

spring:
  profiles: dev
  redis:
    host: ${REDIS_HOST}
    port: 6379
    password: ${REDIS_PASSWORD}
    timeout: 500
  cache:
    redis:
      time-to-live: ${CACHE_TIME_TO_LIVE_MILLIS}

no.nav.security.oidc:
  issuers: selvbetjening
  issuer.selvbetjening:
    discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
    accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}


---

spring:
  profiles: prod
  redis:
    host: ${REDIS_HOST}
    port: 6379
    password: ${REDIS_PASSWORD}
    timeout: 500
  cache:
    redis:
      time-to-live: ${CACHE_TIME_TO_LIVE_MILLIS}

altinn:
  url: "https://api-gw.adeo.no/"

no.nav.security.oidc:
  issuers: selvbetjening
  issuer.selvbetjening:
    discoveryurl: ${LOGINSERVICE_IDPORTEN_DISCOVERY_URL}
    accepted_audience: ${LOGINSERVICE_IDPORTEN_AUDIENCE}
