server:
  port: 8080
  servlet:
    context-path: /altinn-rettigheter-proxy

management.endpoints.web:
  exposure.include: info, health, metrics, prometheus
  base-path: /internal/actuator

spring:
  profiles:
    active: local

---

spring:
  profiles: local

mock:
  enabled: true
  port: 8081
  aktorPort: 8082

altinn:
  url: "http://localhost:${mock.port}/altinn/"
  apikey: "test"
  apigw.apikey: "test"
  iaweb.service:
    code: 3403
    edition: 1

no.nav.security.oidc:
  issuers: iss-localhost, selvbetjening
  issuer:
    iss-localhost:
      discoveryurl: http://metadata
      accepted_audience: aud-localhost
    selvbetjening:
      discoveryurl: http://metadata
      accepted_audience: aud-localhost

---

spring:
  profiles: dev

altinn:
  url: "https://api-gw-q1.adeo.no/"
  apikey: "test"
  apigw.apikey: "test"
  iaweb.service:
    code: 3403
    edition: 1

no.nav.security.oidc:
  issuers: selvbetjening
  issuer.selvbetjening:
    discoveryurl: https://login.microsoftonline.com/NAVtestB2C.onmicrosoft.com/v2.0/.well-known/openid-configuration?p=B2C_1A_idporten_ver1
    accepted_audience: 0090b6e1-ffcc-4c37-bc21-049f7d1f0fe5


---

spring:
  profiles: prod

altinn:
  url: "https://api-gw.adeo.no/"
  apikey: "test"
  apigw.apikey: "test"
  iaweb.service:
    code: 3403
    edition: 2
