spring:
  profiles:
    active: local
  main:
    banner-mode: off
  data:
    redis:
      url: ${REDIS_URI_ALTINNRETTIGHETER:redis://127.0.0.1:6379}
      username: ${REDIS_USERNAME_ALTINNRETTIGHETER:}
      password: ${REDIS_PASSWORD_ALTINNRETTIGHETER:}
      timeout: 2000
      lettuce:
        pool:
          max-active: 16
          min-idle: 8
          enabled: true
          time-between-eviction-runs: 10000
  cache:
    redis:
      time-to-live: ${CACHE_TIME_TO_LIVE_MILLIS:30000}
      enable-statistics: true
    cache-names: reportees

springdoc:
  swagger-ui:
    enabled: true
  packagesToScan: no.nav.arbeidsgiver.altinnrettigheter.proxy

server:
  port: 8080
  max-http-request-header-size: 10KB
  servlet:
    context-path: /altinn-rettigheter-proxy

management:
  endpoints.web:
    exposure.include: info, health, metrics, prometheus
    base-path: /internal/actuator
  metrics.distribution:
    percentiles-histogram:
      http.server.requests: true
    percentiles:
      http.server.requests: 0.99,0.95,0.90,0.80,0.50

no.nav.security.jwt:
  issuer:
    tokenx:
      discoveryurl: ${TOKEN_X_WELL_KNOWN_URL}
      accepted_audience: ${TOKEN_X_CLIENT_ID}

