<configuration scan="true">
    <springProfile name="dev-gcp,dev,prod">
        <appender name="maskedJsonConsoleAppender" class="no.nav.common.log.MaskingAppender">
            <appender name="consoleJsonAppender" class="ch.qos.logback.core.ConsoleAppender">
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
        </appender>
        <root level="INFO">
            <appender-ref ref="maskedJsonConsoleAppender"/>
        </root>
    </springProfile>
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="DEBUG"/>
    </springProfile>

    <!-- Unngå Error meldinger fra SensuHandler -->
    <logger name="no.nav.metrics.handlers.SensuHandler" level="OFF"/>
</configuration>
