name: Deploy dev

on: [workflow_dispatch]

  
jobs:
  deploy-server-dev-gcp:
    name: Deploy server dev-gcp
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@v3
      - uses: nais/login@v0
        id: login
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: arbeidsgiver
      - uses: nais/deploy/actions/deploy@v1
        env:
          IMAGE: ${{ steps.login.outputs.registry }}/altinn-rettigheter-proxy:${{ github.sha }}
          RESOURCE: nais/dev-gcp.yaml
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
