name: Build & deploy

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * 1'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'write'
    services:
      valkey:
        image: valkey/valkey:7.2-alpine
        ports:
          - 6379:6379
        options: >-
          --entrypoint valkey-server
        env:
          VALKEY_EXTRA_FLAGS: "--requirepass leeloodallasmultipass"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: maven
      - run: mvn -B package

      - uses: nais/docker-build-push@v0
        id: gar-push
        with:
          team: arbeidsgiver
          tag: ${{ github.sha }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          byosbom: target/classes/META-INF/sbom/application.cdx.json

  ###### GCP DEV
  deploy-server-dev-gcp:
    name: Deploy server dev-gcp
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@v4
      - uses: nais/login@v0
        id: login
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: arbeidsgiver
      - uses: nais/deploy/actions/deploy@v2
        env:
          VAR: image=${{ steps.login.outputs.registry }}/altinn-rettigheter-proxy:${{ github.sha }}
          RESOURCE: nais/dev-gcp.yaml
          CLUSTER: dev-gcp

  ###### GCP PROD
  deploy-server-prod-gcp:
    name: Deploy server prod-gcp
    needs: deploy-server-dev-gcp
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@v4
      - uses: nais/login@v0
        id: login
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: arbeidsgiver
      - uses: nais/deploy/actions/deploy@v2
        env:
          VAR: image=${{ steps.login.outputs.registry }}/altinn-rettigheter-proxy:${{ github.sha }}
          RESOURCE: nais/prod-gcp.yaml
          CLUSTER: prod-gcp
