name: Deploy Redis

on:
  push:
    paths: ['nais/redis-gcp.yaml']
  workflow_dispatch:

jobs:
  ###### GCP DEV
  deploy-redis-dev-gcp:
    name: Deploy redis dev-gcp
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/TAG-1787'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: nais/redis-gcp.yaml

  ###### GCP PROD
  deploy-redis-prod-gcp:
    name: Deploy redis prod-gcp
    needs: deploy-redis-dev-gcp
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: nais/redis-gcp.yaml

  ###### GCP PROD 2
  deploy-redis2-prod-gcp:
    name: Deploy redis prod-gcp
    if: github.ref == 'refs/heads/maskinport1'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: nais/redis-2-gcp.yaml
